<!DOCTYPE html>
<html>
<head>
  <title>Hello</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<hr />

<h3>サイトマップ</h3>
<ul>
  <li><%= link_to("トップ", home_index_path) %></li>
  <li><%= link_to("ブログ", posts_path) %></li>
  <li><%= link_to("連絡先", home_contact_path) %></li>
</ul>

</body>
</html>
